﻿@using Primavera.NET.Localization
@model Primavera.NET.Web.Models.AdminUsersItemViewModel

@{
    ViewBag.Title = Strings.StringEdit;
}

@using (Html.BeginForm("Edit", "AdminUsers", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(g => g.Nickname, Strings.StringNickname, new { @class = "col-sm-3 control-label" })

        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control", placeholder = Strings.StringNickname, required = true })
            @Html.ValidationMessageFor(model => model.Nickname)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.StatusMessage, Strings.StringStatusMessage, new { @class = "col-sm-3 control-label" })

        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.StatusMessage, new { @class = "form-control", placeholder = Strings.StringStatusMessage })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(g => g.Roles, Strings.StringRoles, new { @class = "col-sm-3 control-label" })

        <div class="col-sm-6">
            @Html.ListBoxFor(model => model.Roles, new SelectList(Model.AvailableRoles), new { @class = "form-control", placeholder = Strings.StringStatusMessage, required = false })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <input type="submit" class="btn btn-default" value="@Strings.StringSave" />
            @Html.ActionLink(Strings.StringCancel, "Index", "AdminUsers", null, new { @class = "btn" })
        </div>
    </div>

    @Html.HiddenFor(g => g.Id)
    @Html.HiddenFor(g => g.Email)
}