﻿@using Antlr.Runtime.Tree
@using Primavera.NET.Framework
@using Primavera.NET.Localization
@model Primavera.NET.Web.Models.AdminUsersIndexViewModel

@{
    ViewBag.Title = Strings.StringUsersManagement;
}

<section class="usersmanagement">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>@Strings.StringNickname</th>
                <th>@Strings.StringEmail</th>
                <th>@Strings.StringStatusMessage</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var loopUser in this.Model.Users)
            {
                <tr>
                    <td>@loopUser.Id</td>
                    <td>@loopUser.Nickname</td>
                    <td>@loopUser.Email</td>
                    <td>@loopUser.StatusMessage</td>
                    <td>@Html.ActionLink(Strings.StringEdit, "Edit", new { userId = loopUser.Id }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink(Strings.StringDelete, "Delete", new { userId = loopUser.Id }, new { @class = "btn btn-danger", onclick = "return confirm(\"{0}\");".FormatText(Strings.StringAreYouSureYouWantToDeleteUserX.FormatText(loopUser.Nickname).Question()) })</td>
                </tr>
            }
        </tbody>
    </table>
</section>