﻿body {
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgb(220, 220, 220) 0%, rgb(255, 255, 255) 100%);
    min-height: 768px;
}

table td[class*="col-"], table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.notifications {
    position: relative;
}

    .notifications.top-right {
        right: 10px;
        top: 25px;
    }

    .notifications.top-left {
        left: 0px;
        top: 25px;
    }

    .notifications.bottom-left {
        left: 10px;
        bottom: 25px;
    }

    .notifications.bottom-right {
        right: 10px;
        bottom: 25px;
    }

/* Chat */
.panel.panel-chat {
    height: 450px;
    margin-right: 10px;
    padding: 0;
}

.panel.panel-auto {
    overflow: auto;
}

.messages {
    overflow-y: scroll;
    height: 400px;
}

blockquote.blockquote-chat {
    width: 51%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    margin: 0 0 10px 0;
    word-wrap: break-word;
}

blockquote.my {
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgb(245, 245, 245) 0%, rgb(232, 232, 232) 100%);
    float: right;
}

blockquote.foreign {
    background-color: rgb(200, 200, 200);
    background-image: linear-gradient(rgb(200, 200, 200) 0%, rgb(182, 182, 182) 100%);
    float: left;
}

blockquote.blockquote-chat footer {
    font-size: 70%;
    word-wrap: break-word;
}

.form-chat {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgb(210, 210, 210);
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
}

    .form-chat .form-control {
        width: 80%;
        max-width: none;
        display: inline-block;        
    }

    .form-chat .btn {
        margin: 0;
        max-width: none;
        vertical-align: baseline;
    }

.available {
    color: green;
}

.unavailable {
    color: gray;
}

.btn.btn-full {
    width: 100%;
    height: 20px;
    padding: 0;
    margin-bottom: 10px;
}

/* Connection error */
.connectionerror {
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    z-index: 0;
    width: 100%;
    height: 100%;
}

    .connectionerror blockquote {
        position: relative;
        top: 50%;
        z-index: 1;
    }
