﻿@model Primavera.NET.Web.Models.ErrorViewModel
@using Primavera.NET.Framework
@using Primavera.NET.Localization

@{
    Layout = "../Shared/_Layout.cshtml";

    ViewBag.Title = Strings.StringUnexpectedException;
}

@helper PrintException(Exception exception)
{
    <blockquote>
        @exception.Message
        <pre>@exception.StackTrace</pre>
        
        @if (exception.InnerException != null)
        {
            @PrintException(exception.InnerException);
        }
    </blockquote>
}

<blockquote>
    @Model.Message (@Model.StatusCode)
</blockquote>

@if (Model.IsDeveloperMode)
{
    @PrintException(Model.Exception);
}