﻿@using Primavera.NET.Framework
@using Primavera.NET.Localization

<section ng-app="primaveraApp">
    <div ng-controller="ChatController as chatCtrl" class="container chat hidden">
        <div class="row" ng-show="connected === true && loadcompleted === true">
            <div class="panel panel-chat panel-default panel-auto col-md-2">
                <div class="list-group">
                    <a href="#" ng-click="setTab(loopTab)" ng-class="{active: isActive(loopTab)}" class="list-group-item" ng-repeat="loopTab in tabs">
                        <span class="glyphicon glyphicon-user" ng-show="loopTab.type === 'user'" ng-class="{available: isUserAvailable(loopTab.recipientUserId), unavailable: !isUserAvailable(loopTab.recipientUserId)}">&nbsp;</span>
                        
                        <span class="badge" ng-show="loopTab.unreadMessages > 0">{{loopTab.unreadMessages}}</span>

                        {{loopTab.title}}                        

                        <span ng-show="loopTab.canUserClose && loopTab.unreadMessages === 0" ng-click="deleteTab(loopTab)" class="glyphicon glyphicon-remove pull-right">&nbsp;</span>
                    </a>
                </div>
            </div>

            <div class="panel panel-default panel-chat col-md-5">
                <div class="messages" scroll-to-last>
                    <a href="javascript:void(0);" class="btn btn-default btn-full" ng-click="tab.getOlderMessages()"><span class="glyphicon glyphicon-arrow-up" title="@Strings.StringShowOlder">&nbsp;</span></a>
                    <blockquote ng-show="message.content !== null && message.content.length > 0" ng-repeat="message in tab.messages" class="blockquote-chat clearfix" ng-class="{my: message.senderUserId === currentUser.id, foreign: message.senderUserId !== currentUser.id}">
                        <div ng-bind-html="message.content | emoticonize"></div>
                        <footer>{{message.nickname}}, <abbr>{{message.createdAt | date:'medium'}}</abbr></footer>
                    </blockquote>
                </div>

                <form class="form-chat form-inline">
                    <input type="text" class="form-control" ng-model="messageModel.content" placeholder="@string.Empty.Dots()" />
                    <input class="btn btn-default" type="submit" ng-click="tab.sendMessage()" value="@Strings.StringSend" />
                </form>
            </div>

            <!-- Users -->
            <div ng-controller="UsersController as usersCtrl" class="panel panel-default panel-auto panel-chat col-md-3">
                <ul class="list-group">
                    <a href="#" ng-click="usersCtrl.openTab(user.id)" ng-repeat="user in users" class="list-group-item">
                        <span class="glyphicon glyphicon-user available" ng-show="user.status === 'Available'" title="@Strings.StringAvailable">&nbsp;</span>
                        <span class="glyphicon glyphicon-user unavailable" ng-show="user.status === 'Unavailable'" title="@Strings.StringUnavailable">&nbsp;</span>
                        {{user.nickname}}
                        <footer>
                            <div ng-show="!usersCtrl.isMe(user)">
                                {{user.statusMessage}}
                            </div>
                            <div ng-show="usersCtrl.isMe(user)">
                                <form class="form">
                                    <textarea type="text" class="form-control" ng-model="currentUser.statusMessage" placeholder="@Strings.StringStatusMessage"></textarea>
                                    <input type="submit" ng-click="usersCtrl.saveStatus()" value="@Strings.StringSave" />
                                </form>
                            </div>
                        </footer>
                    </a>
                </ul>
            </div>
        </div>
        <div id="connectionerror-element" class="connectionerror" ng-show="connected === false">
            <blockquote>@Strings.StringThereWereProblemsWithConnection.Dot()</blockquote>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/linqjs")
    <script type="text/javascript" src="signalr/hubs"></script>
    @Scripts.Render("~/bundles/PrimaveraApp")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.chat').hide();
            $('.chat').removeClass('hidden');
            $('.chat').fadeIn(1000);
        });
    </script>
}