﻿@using Primavera.NET.Data.Models
@using Primavera.NET.Framework
@using Primavera.NET.Localization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Strings.StringApplicationName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">@Strings.StringApplicationName</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink(Strings.StringChat, "Index", new { controller = "Chat" })</li>

                        if (this.User.IsInRole(RoleType.Admin.ToString()))
                        {
                    <li>@Html.ActionLink(Strings.StringAdministrate, "Index", new { controller = "AdminUsers" })</li>
                        }
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(Strings.StringChangeNickname, "ChangeNickname", new { controller = "Account" })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink(Strings.StringSignOut, "SignOut", new { controller = "Account" })</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(Strings.StringSignIn, "Index", new { controller = "Account" })</li>
                        <li>@Html.ActionLink(Strings.StringSignUp, "SignUp", new { controller = "Account" })</li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    @{
        var notifications = this.TempData.GetNotifications().ToList();

        if (notifications.Any())
        {
            <div class="container container-notifications">
                @foreach (Notification loopNotification in notifications)
                {
                    <div class="notifications top-left" data-notification-type="@loopNotification.NotificationType" data-notification-message="@loopNotification.Message"></div>
                }
            </div>
            <br />
        }
    }

    <div class="container body-content">

        @if (!string.IsNullOrEmpty(ViewBag.Title))
        {
            <h3>@ViewBag.Title</h3>
        }

        @RenderBody()

        @*<footer class="bottom">
                <p>&copy; @DateTime.Now.Year - @Strings.StringApplicationName</p>
            </footer>*@<footer class="bottom">
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Site")
    @RenderSection("scripts", required: false)
</body>
</html>
