﻿@using Primavera.NET.Localization
@model Primavera.NET.Web.Models.ChangeNicknameViewModel

@{
    ViewBag.Title = Strings.StringChangeNickname;
}

@using (Html.BeginForm("ChangeNickname", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Nickname, Strings.StringNickname, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Nickname, new { @class = "form-control", placeholder = Strings.StringNickname, required = true })
            @Html.ValidationMessageFor(model => model.Nickname)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" value="@Strings.StringSave" />
        </div>
    </div>
}