﻿@model Primavera.NET.Web.Models.SignInViewModel
@using Primavera.NET.Localization

@{
    ViewBag.Title = Strings.StringSignIn;
}

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Email, Strings.StringEmail, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = Strings.StringEmail, type = "email", required = true })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, Strings.StringPassword, new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = Strings.StringPassword, type = "password", required = true })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-default" value="@Strings.StringSignIn" />
        </div>
    </div>

    <div class="form-group">
        @Html.ActionLink(Strings.StringNewUserClickHereToCreateYourAccount, "SignUp")
    </div>
}